:root
{
  --s1: 0.5rem;
  --s2: 1rem;
  --s3: 1.6rem;
  --s4: 2rem;
  --s5: 4rem;

  --font-sans: droid sans, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;

  --gray01: #d8d8d8;
  --gray02: #909090;
  --gray03: #707070;
  --gray04: #f7f7f7;
  --black: #303030;
  --white: #ffffff;
  --accent01: #2c68f0;
  --accent02: #005adf;

  --btn-bg-primary: linear-gradient(0deg, var(--accent02) 0%, var(--accent02) 50%, var(--accent01) 50%, var(--accent01) 100%);
  --btn-bg-secondary: linear-gradient(0deg, #dcdcdc 0%, #dcdcdc 50%, #e9e9e9 50%, #e9e9e9 100%);
  --btn-bg-danger: linear-gradient(0deg, #dd0000 0%, #dd0000 50%, #ee0000 50%, #ee0000 100%);
}

*
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    line-height: 1;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html { height: 100%; }
body
{
    background-color: var(--gray01);
    height: 100%;
    color: var(--black);
    line-height: 1;
    font-family: var(--font-sans);
    font-size: 1rem;
}

select,
button,
label,
input
{
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-weight: bold;
}

/* ====================
 * App root
 * ==================== */

.App
{
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ====================
 * Grid
 * ==================== */

.Grid
{
    display: grid;
    gap: var(--s2);
    border: 10px solid red;
    background-color: yellow;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    padding: var(--s1);
}

/* ====================
 * Cell
 * ==================== */

.Cell
{
    background-color: tomato;
}

.Cell-index
{
    color: #ccc;
}

.Cell.is-current
{
    box-shadow: 0 0 4px 4px blue;
}
