:root
{
  --s1: 0.5rem;
  --s2: 1rem;
  --s3: 1.6rem;
  --s4: 2rem;
  --s5: 4rem;

  --font-sans: droid sans, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;

  --gray01: #d8d8d8;
  --gray02: #ccc;
  --black: #303030;
  --white: #ffffff;
  --papirus: #86efac;
  --papirus-d: #14532d;
  --not-allowed: #900;
}

*
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    line-height: 1;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html { height: 100%; }
body
{
    background-color: var(--gray01);
    height: 100%;
    color: var(--black);
    line-height: 1;
    font-family: var(--font-mono);
    font-size: 1rem;
}

select,
button,
label,
input
{
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-weight: bold;
}

/* ====================
 * App root
 * ==================== */

.App
{
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ====================
 * UI
 * ==================== */

.UI
{
    display: flex;
    flex-direction: column;
}

.HUD
{
    background-color: var(--white);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: var(--s1);
}

.Grid
{
    display: grid;
    gap: calc(var(--s1) / 2);
    background-color: var(--white);
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    padding: var(--s1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.Cell
{
    border-radius: 2px;
    position: relative;
    width: 2rem;
    height: 2rem;
}

.Cell-val
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Cell-index
{
    position: absolute;
    color: #888;
    font-size: 0.5rem;
    bottom: 0;
    right: 0;
    opacity: 0;
}

.Cell.is-occupied
{
    background-color: var(--white);
}

.Cell.is-available
{
    background-color: var(--papirus);
}

.Cell.is-unavailable
{
    background-color: var(--gray01);
}

.Cell.is-current
{
    position: relative;
    transform: scale(1.2);
    z-index: 9;
    transition: transform .3s ease-out;
}

.Cell.is-current.is-occupied
{
    box-shadow: 0 0 8px 2px var(--not-allowed);
}

.Cell.is-current.is-available
{
    box-shadow: 0 0 8px 2px var(--papirus-d);
}

.Cell.is-current.is-unavailable
{
    box-shadow: 0 0 8px 2px var(--not-allowed);
}

.HUD
{
    display: flex;
    font-family: var(--font-sans);
}

.HUD-toolbar
{
    margin-left: auto;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
}

.HUD-toolbar > *
{
    cursor: pointer;
    background-color: var(--gray02);
    padding: var(--s1) calc(var(--s2) / 1.2);
    text-decoration: none;
    color: var(--black);
}

.HUD-toolbar > * + *
{
    border-left: 2px solid var(--white);
}
